.my-drop-zone {
    border: dotted 3px lightgray;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.upload-button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
}

.upload-button input {
    display: none;
}

.nv-file-over {
    border: dotted 3px blue;
    background-color: #f7f8fa;
} /* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}