
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
	<!--<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
	  <button mat-icon-button disabled></button>
	  <mat-checkbox class="checklist-leaf-node"
		[checked]="checklistSelection.isSelected(node)"
		(change)="checklistSelection.toggle(node);">{{node.name}}</mat-checkbox>
	</mat-tree-node>-->

	<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
		<button mat-icon-button matTreeNodeToggle
				[attr.aria-label]="'toggle ' + node.name">
			<mat-icon class="mat-icon-rtl-mirror">
				{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
			</mat-icon>
		</button>
		{{node.name}}
		<div style="position:absolute; right:25%;">
			<button *ngxPermissionsOnly="['canCreateHierarchy']" mat-icon-button color="primary"
					matTooltip="{{ 'COMMON.BUTTONS.CREATE' | translate }}" (click)="onCreate(node)">
				<mat-icon>insert_drive_file</mat-icon>
			</button>&nbsp;
			<button *ngxPermissionsOnly="['canUpdateHierarchy']" mat-icon-button color="primary"
					matTooltip="{{ 'COMMON.BUTTONS.EDIT' | translate }}" (click)="onEdit(node)">
				<mat-icon>create</mat-icon>
			</button>&nbsp;
			<button *ngxPermissionsOnly="['canDeleteHierarchy']" mat-icon-button color="warn"
					matTooltip="{{ 'COMMON.BUTTONS.DELETE' | translate }}" type="button"
					(click)="onDelete(node)">
				<mat-icon>delete</mat-icon>
			</button>&nbsp;
		</div>
	</mat-tree-node>
</mat-tree>
