<div class="m-portlet"
	 [ngClass]="{ 'm-portlet--body-progress' : viewLoading, 'm-portlet--body-progress-overlay' : loadingAfterSubmit }">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<span class="m-portlet__head-icon m--hide">
					<i class="la la-gear"></i>
				</span>
				<h3 class="m-portlet__head-text">{{getTitle()}}</h3>
			</div>
		</div>
	</div>
	<form class="m-form" [formGroup]="form">
		<div class="m-portlet__body">

			<div class="m-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<m-alert *ngIf="formErrorMsg" type="warn" [duration]="30000" [showCloseButton]="true"
					 (close)="onAlertClose($event)">
				{{formErrorMsg}}
			</m-alert>

			<div class="form-group m-form__group row" *ngIf="model.id == 0">
                <div class="col-lg-6 m--margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="contractDate" readonly placeholder="Sözleşme Tarihi"
                            [(ngModel)]="date" [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="contractDate"></mat-datepicker-toggle>
                        <mat-datepicker #contractDate></mat-datepicker>
                    </mat-form-field>
                </div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<daily-period-autocomplete [name]="nameOfFuelCheckPeriodSubject" [modelSubject]="fuelCheckPeriodSubject"></daily-period-autocomplete>
				</div>
			</div>

			<div class="form-group m-form__group row">
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<daily-period-autocomplete [name]="nameOfInflationCheckPeriodSubject" [modelSubject]="inflationCheckPeriodSubject"></daily-period-autocomplete>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="number" matInput #inflationProcessingPercentage placeholder="{{ 'CRM.MERCHANT.CONTRACT.INFLATIONPROCESSPERCENTAGE' | translate }}"
							   formControlName="inflationProcessingPercentage" />
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: inflationProcessingPercentage.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="form-group m-form__group row">
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="number" matInput #fuelProcessingPercentage placeholder="{{ 'CRM.MERCHANT.CONTRACT.FUELPROCESSPERCENTAGE' | translate }}"
							   formControlName="fuelProcessingPercentage" />
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: fuelProcessingPercentage.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="number" matInput #percentageOfInflationPriceWillBeProcessed placeholder="{{ 'CRM.MERCHANT.CONTRACT.PERCENTAGEOFINFLATIONPRICEWILLBEPROCESSED' | translate }}"
							   formControlName="percentageOfInflationPriceWillBeProcessed" />
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: percentageOfInflationPriceWillBeProcessed.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="form-group m-form__group row">
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="number" matInput #percentageOfFuelPriceWillBeProcessed placeholder="{{ 'CRM.MERCHANT.CONTRACT.PERCENTAGEOFFUELPRICEWILLBEPROCESSED' | translate }}"
							   formControlName="percentageOfFuelPriceWillBeProcessed" />
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: percentageOfFuelPriceWillBeProcessed.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<textarea matInput #description placeholder="{{ 'CRM.MERCHANT.CONTRACT.DESCRIPTION' | translate }}"
							   formControlName="description" style="height: 100px;"></textarea>
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: description.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
			<div class="m-form__actions m-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" mat-raised-button [mat-dialog-close]="data.animal"
								[disabled]="viewLoading" cdkFocusInitial
								matTooltip="{{ 'COMMON.CANCEL_CHANGES' | translate }}">
							<span translate="COMMON.BUTTONS.CANCEL">Cancel</span>
						</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="onSubmit()"
								[disabled]="viewLoading" matTooltip="{{ 'COMMON.SAVE_CHANGES' | translate }}">
							<span translate="COMMON.BUTTONS.SAVE">Save</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
