<div
	class="m-portlet"
	[ngClass]="{
		'm-portlet--body-progress': viewLoading,
		'm-portlet--body-progress-overlay': loadingAfterSubmit
	}"
>
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<span class="m-portlet__head-icon m--hide">
					<i class="la la-gear"></i>
				</span>
				<h3 class="m-portlet__head-text">{{ getTitle() }}</h3>
			</div>
		</div>
	</div>
	<form class="m-form" [formGroup]="form">
		<div class="m-portlet__body">
			<div class="m-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<m-alert *ngIf="formErrorMsg"
					 type="warn"
					 [duration]="30000"
					 [showCloseButton]="true"
					 (close)="onAlertClose($event)">
				{{ formErrorMsg }}
			</m-alert>

			<div class="form-group m-form__group row">
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<multi-user-autocomplete [modelSubject]="userSubject"></multi-user-autocomplete>
				</div>
			</div>

			<div class="form-group m-form__group row">
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="text" matInput #contactPerson placeholder="{{ 'CRM.MERCHANT.CONTACT.contactPerson' | translate }}"
							   formControlName="contactPerson" />
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: contactPerson.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="text" matInput #contactPhone placeholder="{{ 'CRM.MERCHANT.CONTACT.contactPhone' | translate }}"
							   formControlName="contactPhone" />
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: contactPhone.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group m-form__group row">
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="text" matInput #contactEmail placeholder="{{ 'CRM.MERCHANT.CONTACT.contactEmail' | translate }}"
							   formControlName="contactEmail" />
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: contactEmail.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input type="text" matInput #contactTitle placeholder="{{ 'CRM.MERCHANT.CONTACT.contactTitle' | translate }}"
							   formControlName="contactTitle" />
						<mat-error [innerHTML]="'FLOWCHART.VALIDATION.REQUIRED' | translate:{name: contactTitle.placeholder}">
						</mat-error>
					</mat-form-field>
				</div>
			</div>

		</div>
		<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
			<div class="m-form__actions m-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button
							type="button"
							mat-raised-button
							[mat-dialog-close]="data.animal"
							[disabled]="viewLoading"
							cdkFocusInitial
							matTooltip="{{
								'COMMON.CANCEL_CHANGES' | translate
							}}"
						>
							<span translate="COMMON.BUTTONS.CANCEL"
								>Cancel</span
							></button
						>&nbsp;
						<button
							type="button"
							mat-raised-button
							color="primary"
							(click)="onSubmit()"
							[disabled]="viewLoading"
							matTooltip="{{ 'COMMON.SAVE_CHANGES' | translate }}"
						>
							<span translate="COMMON.BUTTONS.SAVE">Save</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
