<mat-form-field class="mat-form-field-fluid">
    <mat-select [(ngModel)]="model" (ngModelChange)="onChangeModel($event)" [placeholder]="placeholder" [disabled] = "isDisable">
        <ngx-mat-select-search [placeholderLabel]="'COMMON.SEARCH' | translate" [noEntriesFoundLabel]="'COMMON.NO_ENTRIES' | translate"
            [formControl]="selectFilterControl">
        </ngx-mat-select-search>
        <mat-option *ngIf="type && type === 'NONE'" [value]="0">{{ 'COMMON.NONE' | translate }}</mat-option>
        <mat-option *ngIf="type && type === 'ALL'" [value]="0">{{ 'COMMON.ALL' | translate }}</mat-option>
        <mat-option [value]="1">ADANA</mat-option>
        <mat-option [value]="2">ADIYAMAN</mat-option>
        <mat-option [value]="3">AFYONKARAHİSAR</mat-option>
        <mat-option [value]="4">AĞRI</mat-option>
        <mat-option [value]="5">AMASYA</mat-option>
        <mat-option [value]="6">ANKARA</mat-option>
        <mat-option [value]="7">ANTALYA</mat-option>
        <mat-option [value]="8">ARTVİN</mat-option>
        <mat-option [value]="9">AYDIN</mat-option>
        <mat-option [value]="10">BALIKESİR</mat-option>
        <mat-option [value]="11">BİLECİK</mat-option>
        <mat-option [value]="12">BİNGÖL</mat-option>
        <mat-option [value]="13">BİTLİS</mat-option>
        <mat-option [value]="14">BOLU</mat-option>
        <mat-option [value]="15">BURDUR</mat-option>
        <mat-option [value]="16">BURSA</mat-option>
        <mat-option [value]="17">ÇANAKKALE</mat-option>
        <mat-option [value]="18">ÇANKIRI</mat-option>
        <mat-option [value]="19">ÇORUM</mat-option>
        <mat-option [value]="20">DENİZLİ</mat-option>
        <mat-option [value]="21">DİYARBAKIR</mat-option>
        <mat-option [value]="22">EDİRNE</mat-option>
        <mat-option [value]="23">ELAZIĞ</mat-option>
        <mat-option [value]="24">ERZİNCAN</mat-option>
        <mat-option [value]="25">ERZURUM</mat-option>
        <mat-option [value]="26">ESKİŞEHİR</mat-option>
        <mat-option [value]="27">GAZİANTEP</mat-option>
        <mat-option [value]="28">GİRESUN</mat-option>
        <mat-option [value]="29">GÜMÜŞHANE</mat-option>
        <mat-option [value]="30">HAKKARİ</mat-option>
        <mat-option [value]="31">HATAY</mat-option>
        <mat-option [value]="32">ISPARTA</mat-option>
        <mat-option [value]="33">MERSİN</mat-option>
        <mat-option [value]="34">İSTANBUL</mat-option>
        <mat-option [value]="35">İZMİR</mat-option>
        <mat-option [value]="36">KARS</mat-option>
        <mat-option [value]="37">KASTAMONU</mat-option>
        <mat-option [value]="38">KAYSERİ</mat-option>
        <mat-option [value]="39">KIRKLARELİ</mat-option>
        <mat-option [value]="40">KIRŞEHİR</mat-option>
        <mat-option [value]="41">KOCAELİ</mat-option>
        <mat-option [value]="42">KONYA</mat-option>
        <mat-option [value]="43">KÜTAHYA</mat-option>
        <mat-option [value]="44">MALATYA</mat-option>
        <mat-option [value]="45">MANİSA</mat-option>
        <mat-option [value]="46">KAHRAMANMARAŞ</mat-option>
        <mat-option [value]="47">MARDİN</mat-option>
        <mat-option [value]="48">MUĞLA</mat-option>
        <mat-option [value]="49">MUŞ</mat-option>
        <mat-option [value]="50">NEVŞEHİR</mat-option>
        <mat-option [value]="51">NİĞDE</mat-option>
        <mat-option [value]="52">ORDU</mat-option>
        <mat-option [value]="53">RİZE</mat-option>
        <mat-option [value]="54">SAKARYA</mat-option>
        <mat-option [value]="55">SAMSUN</mat-option>
        <mat-option [value]="56">SİİRT</mat-option>
        <mat-option [value]="57">SİNOP</mat-option>
        <mat-option [value]="58">SİVAS</mat-option>
        <mat-option [value]="59">TEKİRDAĞ</mat-option>
        <mat-option [value]="60">TOKAT</mat-option>
        <mat-option [value]="61">TRABZON</mat-option>
        <mat-option [value]="62">TUNCELİ</mat-option>
        <mat-option [value]="63">ŞANLIURFA</mat-option>
        <mat-option [value]="64">UŞAK</mat-option>
        <mat-option [value]="65">VAN</mat-option>
        <mat-option [value]="66">YOZGAT</mat-option>
        <mat-option [value]="67">ZONGULDAK</mat-option>
        <mat-option [value]="68">AKSARAY</mat-option>
        <mat-option [value]="69">BAYBURT</mat-option>
        <mat-option [value]="70">KARAMAN</mat-option>
        <mat-option [value]="71">KIRIKKALE</mat-option>
        <mat-option [value]="72">BATMAN</mat-option>
        <mat-option [value]="73">ŞIRNAK</mat-option>
        <mat-option [value]="74">BARTIN</mat-option>
        <mat-option [value]="75">ARDAHAN</mat-option>
        <mat-option [value]="76">IĞDIR</mat-option>
        <mat-option [value]="77">YALOVA</mat-option>
        <mat-option [value]="78">KARABÜK</mat-option>
        <mat-option [value]="79">KİLİS</mat-option>
        <mat-option [value]="80">OSMANİYE</mat-option>
        <mat-option [value]="81">DÜZCE</mat-option>
        <mat-option *ngFor="let option of filtredOptions | async" [value]="option.id">
            {{ option.regionName }}
        </mat-option>
    </mat-select>
</mat-form-field> 